/*--- Specific styles ---*/

.main {
  max-width: 900px;
  padding: 10px 15px;
  margin: 20px auto;
  text-align: center;

  .send-button {
    height: 50px;
  }
}

/*--Nicknames --*/

.nickname {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: left;

  .form {
    width: 95%;
    max-width: 300px;
    margin: 50% auto;

    .nickname-label {
      font-size: 18px;
      display: inline-block;
      padding-bottom: 10px;
    }

    .custom-checkbox {
      padding: 10px 0;
    }

    .btn {
      margin: 15px auto;
    }
  }
}

/*-- Chat --*/

.chat-section {
  width: 95%;
  margin: 0 auto;

  .chat {
    height: 80vh;
    margin: 10px auto 0;
    border: 1px solid darken($primary-color, 3);
    border-bottom: none;
    background: lighten($primary-color, 1);
    border-radius: 5px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    box-shadow: 1px 1px 10px $primary-color, -1px -1px 10px $primary-color;
  }
}

/*-- My information --*/
.my-info {
  padding: 50px 0 20px;
  .title {
    @include fluid-type($screen-xs, $screen-xl, 18px, 22px);
    font-weight: 500;
  }

  .subtitle {
    @include fluid-type($screen-xs, $screen-xl, 18px, 20px);
    font-weight: 500;
  }
  .image {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid $primary-color;
    }

    .image-caption {
      @include fluid-type($screen-xs, $screen-xl, 14px, 16px);
      font-weight: 500;
      width: 275px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .social {
      @include fluid-type($screen-xs, $screen-xl, 30px, 32px);
      display: inline-block;

      a {
        @include easeOut;
        display: inline-block;
        color: $info-color;
        padding-left: 5px;

        &:hover {
          color: lighten($info-color, 15);
        }
      }
    }
  }
}
