/*--- Specific styles ---*/

.main {
  max-width: 900px;
  padding: 10px 15px;
  margin: 20px auto;
  text-align: center;

  .send-button {
    height: 50px;
  }
}

/*--Nicknames --*/

.nickname {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  .form {
    width: 95%;
    max-width: 300px;

    .form-control {
      border-radius: unset;
    }

    .custom-checkbox {
      padding: 10px 0;
    }

    .btn {
      margin: 15px auto;
    }

    .error {
      border-color: $warning-color;
    }

    .error-message {
      padding-top: 5px;
      color: $warning-color;
    }
  }
}

/*-- Chat --*/

.chat-section {
  width: 95%;
  margin: 0 auto;

  .chat {
    height: 80vh;
    overflow-y: scroll;
    margin: 10px auto 0;
    padding: 10px 5px;
    border: 1px solid darken($primary-color, 3);
    border-bottom: none;
    background: lighten($primary-color, 1);
    border-radius: 5px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    box-shadow: 1px 1px 10px $primary-color, -1px -1px 10px $primary-color;

    .message {
      margin: 20px auto;

      .text {
        padding: 5px 7px;
      }

      .time {
        font-size: 14px;
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 5px;
      }

      /* Server message style */
      &.server-message {
        .name {
          color: $info-color;
        }

        .text {
          font-style: italic;
        }
      }

      /* My message style */
      &.my-message {
        max-width: $message-max-width;
        width: 100%;
        margin-right: 10px;
        padding: 10px 15px;
        border: 1px solid lighten($light-info-color, 50);
        border-radius: 5px;
        background: lighten($light-info-color, 60);

        .name {
          text-align: left;
          font-weight: 600;
          font-size: 18px;
          padding: 5px 7px;
        }

        .text {
          text-align: left;
        }
      }

      /* Other user message */
      &.user-message {
        max-width: $message-max-width;
        width: 100%;
        margin-left: 10px;
        padding: 10px 15px;
        border: 1px solid darken($primary-color, 5);
        border-radius: 5px;
        background: darken($primary-color, 1);

        .name {
          text-align: left;
          font-weight: 600;
          font-size: 18px;
          padding: 5px 7px;
        }

        .text {
          text-align: left;
        }
      }
    }
  }
}

/*-- My information --*/
.my-info {
  padding: 50px 0 20px;
  .title {
    @include fluid-type($screen-xs, $screen-xl, 18px, 22px);
    font-weight: 500;
  }

  .subtitle {
    @include fluid-type($screen-xs, $screen-xl, 18px, 20px);
    font-weight: 500;
  }
  .image {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid $primary-color;
    }

    .image-caption {
      @include fluid-type($screen-xs, $screen-xl, 14px, 16px);
      font-weight: 500;
      width: 275px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .social {
      @include fluid-type($screen-xs, $screen-xl, 30px, 32px);
      display: inline-block;

      a {
        @include easeOut;
        display: inline-block;
        color: $info-color;
        padding-left: 5px;

        &:hover {
          color: lighten($info-color, 15);
        }
      }
    }
  }
}
